<!DOCTYPE html>
<%- include("head.html") %>
<body>
    <%- include("nav.html") %>
  
    <div class="createWallet">
      <h2>Create a new Wallet</h2>
      <form action="/createWallet" method="POST">
        <label class="createWallet">Public name:</label>
        <input type="text" class="createWallet" name="createWallet[publicName]" required>
        <label class="createWallet">Public password:</label>
        <input type="text" class="createWallet" name="createWallet[publicPass]" required>
        <button>Submit</button>
      </form>
    </div>

</body>
</html>