<!DOCTYPE html>
<%- include("head.html") %>
<body>
    <%- include("nav.html") %>

    <div>
        <% if(isUserSpecified === false) {%>
            <h2>Enter your wallet credentials:</h2>
            <form action="/" method="POST">
                <label class="wallet">Public key:</label>
                <input type="text" class="wallet" name="wallet[publicName]" required>
                <label class="wallet">Private Key:</label>
                <input type="text" class="wallet" name="wallet[publicPass]" required>
                <button>Enter</button>
            </form>
        <% } else{ %>
            <div id="toWrite" style="display: inline-block">
            <h3>User name: <%= user.name %>
            </h3>
            <p>
            <h3>Balance: <%= user.balance %>
            </h3>
            </p>
            <p>
            <h3>Hash: <%= user.hashValue %>
            </h3>
            </p>

        <% } %>

        <% if(alert === true){ %>
            <script>
                alert("Wrong password!");
            </script>
        <% } %>

    </div>

</body>
</html>