<!DOCTYPE html>
<%- include("head.html") %>

    <body>
        <%- include("nav.html") %>

            <div id="toWrite" style="display: inline-block">
                <% if(users.length> 0) {%>
                    <h2>Users</h2>
                    <% users.forEach((user)=> {%>
                        <li><a href=<%="/users/" + user.name %>><%= user.name %></a>
                        </li>
                        <% })} %>
                            <% if(users.length===0) {%>
                                <h3>User name: <%= user.name %>
                                </h3>  
                                <p>
                                <h3>Balance: <%= user.balance %>
                                </h3>
                                </p>
                                <p>
                                <h3>Hash: <%= user.hashValue %>
                                </h3>
                                </p>
                                <button id="delete"><a href=<%="/users/" + user.name + "/delete" %>>Delete this wallet</a></button>
                                <% } %>
            </div>

    </body>

    </html>